# Python Service

python-service/*.pyc
python-service/*.pyo
python-service/*.pyd
python-service/.env

# Node.js Service
node-service/node_modules/
node-service/npm-debug.log
node-service/.env

# React Client
# client/my-app/node_modules/
# client/my-app/build/
# client/my-app/.env
# General ignores
venv/
__pycache__/
node_modules


